.losers-bracket {
    border-top: 1px solid gray;
}

.set-row:first-child {
    border-bottom: 1px solid white;
    border-top-right-radius: 4px;
}

.set-row:last-child {
    border-bottom-right-radius: 4px;
}

.winner-name {
    font-weight: bold;
}

.winner-score {
    background-color: #009900;
    font-weight: bold;
}

.loser-score {
    background-color: #636363;
}
/* .test:before {
    content: '';
    position: relative;
    background-color: #fff;
    top: 20px;
    transform: translateX(-100%);
    width: 23px;
    height: 1px;
}

.test:after {
    content: '';
    position: relative;
    background-color: #fff;
    top: 20px;
    transform: translateX(100%);
    width: 23px;
    height: 1px;
} */