.scroll-to-top-button {
    position: fixed;
    z-index: 1000;
    border-radius: 14px;
}

.search-entrant-form {
    width: 350px;
    max-width: calc(100% - 56px);
}

.entrant-image {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.entrant-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.entrant-image img.portrait {
    width: 100%;
    height: auto;
}

.entrant-image-default {
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

.entrant-search-image-default {
    @extend .entrant-image-default;
    font-size: 18px;
    line-height: 30px;
    padding-left: 0.5px;
}

.search-entrant-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 240px;
}





.round {
    max-width: 204px;
    min-width: 204px;
    height: 100%;
}

.full-round-text {
    margin-bottom: 0;
    padding: 8px 22px;
    font-size: 16px;
    /* font-weight: bold; */
    background-color: #424242;
    border-radius: 4px;
}

.set {
    width: 204px;
    border-radius: 4px;
    cursor: pointer;
}

.set-row:first-child {
    border-bottom: 1px solid #303030;
}

.set-seeds {
    max-width: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #939393;
    color: black;
}

.entrant-set-image-default {
    @extend .entrant-image-default;
    font-size: 12px;
    line-height: 19px;
    padding-left: 0.5px;
}

.set-image {
    width: 18px;
    height: 18px;
    margin: 4px 5px;
}

.set-names-no-score { 
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.set-name {
    padding: 0 0 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// .winner-name {
//     font-weight: bold;
// }

.set-scores {
    max-width: 20px;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    color: black;
}

.set-scores {
    & .set-row:first-child {
        border-top-right-radius: 4px !important;
    }

    & .set-row:last-child {
        border-bottom-right-radius: 4px !important;
    }
}

.projected {
    color: goldenrod;
    font-style: italic;
}

.winner-score {
    background-color: #00a800;
    /* font-weight: bold; */
}

.loser-score {
    background-color: #939393;
}

.set-middle {
    background-color: #525252;
}

.slot-hover {
    background-color: #1b1b1b;
}

.upset-factor-0 {
    background-color: rgb(117, 194, 219);
}

.upset-factor-1 {
    background-color: rgb(42, 42, 236);
}

.upset-factor-2 {
    background-color: rgb(0, 100, 0);
}

.upset-factor-3 {
    background-color: rgb(54, 219, 54);
}

.upset-factor-4 {
    background-color: rgb(204, 204, 0);
}

.upset-factor-5 {
    background-color: rgb(228, 148, 0);
}

.upset-factor-6 {
    background-color: orangered;
}

.upset-factor-7 {
    background-color: rgb(209, 20, 20);
}

.upset-factor-8 {
    background-color: maroon;
}

.upset-factor-9 {
    background-color: purple;
}

.upset-factor-10 {
    background-color: rgb(63, 0, 63);
}

.first-block-column-first-row {
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-top-right-radius: 4px;
}

.first-block-column-second-row {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-bottom-right-radius: 4px;
}

.straight-block {
    border-bottom: 1px solid white;
}

.no-select {
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Old versions of Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    user-select: none;
}