<div class="no-select" [style.cursor]="isGrabbing ? 'grabbing' : 'grab'">
    <div class="container-fluid">
        <div class="row" style="margin-top: 20px">
            <div class="col">
                <form class="search-entrant-form">
                    <mat-form-field style="width: 100%">
                        <mat-label>Search Entrant</mat-label>
                        <input matInput [matAutocomplete]="auto" [formControl]="entrantCtrl">
                        <mat-autocomplete #auto="matAutocomplete">
                            @for (entrant of filteredEntrants | async; track entrant) {
                            <mat-option [value]="entrant.name">
                                <div class="row">
                                    <div class="col p-0">
                                        <div class="entrant-image" style="width: 30px; height: 30px">
                                            <img *ngIf="getEntrantImage(entrant) !== ''" [ngClass]="getEntrantImageOrientation(entrant)" [src]="getEntrantImage(entrant)" />
                                            <div *ngIf="getEntrantImage(entrant) === ''" class="entrant-search-image-default" [ngStyle]="{'background-color': entrant.backgroundColor}">
                                                {{entrant.participants[0].gamerTag[0].toUpperCase()}}</div>
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-column justify-content-center">
                                        <span class="search-entrant-name">{{entrant.name}}</span>
                                    </div>
                                </div>
                            </mat-option>
                            }
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
            </div>
        </div>

        <div class="row" *ngIf="phases.length > 1" style="margin-bottom: 30px">
            <div class="col-auto" *ngIf="currentPhaseIndex > 0">
                <button mat-icon-button (click)="changePhase(-1)">
                    <mat-icon fontIcon="arrow_back"></mat-icon>
                </button>
            </div>

            <div class="col-auto">
                <p style="font-size: large; font-weight: bold; margin-top: 14px">
                    {{phases[currentPhaseIndex].name}}</p>
            </div>

            <div class="col-auto" *ngIf="currentPhaseIndex < phases.length - 1">
                <button mat-icon-button (click)="changePhase(1)">
                    <mat-icon fontIcon="arrow_forward"></mat-icon>
                </button>
            </div>
        </div>

        <div class="row" *ngFor="let phaseGroup of phaseGroups; let i = index; let lastPhaseGroup = last">
            <div class="col-12">
                <p *ngIf="phaseGroups.length > 1" style="font-size: 18px; margin-bottom: 0">
                    Pool {{phaseGroup ? phaseGroup.displayIdentifier : ''}}
                </p>
            </div>

            <div class="col-12">
                <div class="row" *ngFor="let maxR of maxRounds[i]; let side = index" [ngStyle]="{'margin-top': (side == 0 ? 20 : 80) + 'px'}">
                    <div class="row flex-nowrap" id="full-round-text-row">
                        <div class="col p-0 d-flex justify-content-center round" *ngFor="let _ of [].constructor(maxRounds[i][side]); let j = index" style="width: 204px; margin-right: 44px" id="full-round-text-column">
                            <p class="full-round-text">{{phaseGroup ?
                                getRoundSets(phaseGroup, (j
                                + 1) * maxRoundModifier[side])[0].fullRoundText : ''}}</p>
                        </div>
                    </div>

                    <div class="col-12" [ngStyle]="{'width': maxRoundsPhase * 248 + 24 + 'px'}">
                        <div class="row flex-nowrap" [ngStyle]="{'height': getPhaseGroupSideHeight(phaseGroup, side) + 'px', 'width': maxRoundsPhase * 248 + 'px'}">
                            <div class="col px-0" [ngStyle]="{'max-width': getColumnWidth(j)}" *ngFor="let _ of [].constructor((maxRounds[i][side]) * 3 - 2); let j = index" id="set-block-column-container">

                                <div *ngIf="j % 3 == 0" class="d-flex flex-column round" id="set-column">
                                    <div class="row set" *ngFor="let set of getRoundSets(phaseGroup, (j / 3 + 1) * maxRoundModifier[side])" id="set"
                                        [ngStyle]="{'margin': getSetMargin(phaseGroup, (j / 3 + 1) * maxRoundModifier[side], side, set)}" (click)="openSet(set)">

                                        <div class="col p-0 set-seeds" id="seeds">
                                            <div class="row set-row" *ngFor="let slot of set.slots; let firstSlot = first" [ngStyle]="{'height': getSlotHeight(firstSlot)}" (mouseenter)="onSlotEnter(slot)" (mouseleave)="onSlotLeave()">
                                                <div class="d-flex justify-content-center p-0" style="margin-top: 4px" [ngStyle]="{'font-size': getSeedFontSize(slot)}">
                                                    {{slot.entrant?.seed}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col p-0 set-middle" id="images">
                                            <div class="row set-row gx-0" *ngFor="let slot of set.slots; let firstSlot = first" style="width: 28px" [ngClass]="getSlotHover(slot)" [ngStyle]="{'height': getSlotHeight(firstSlot)}"
                                                (mouseenter)="onSlotEnter(slot)" (mouseleave)="onSlotLeave()">
                                                <div class="entrant-image" style="width: 18px; height: 18px; margin: 4px 5px">
                                                    <img *ngIf="getEntrantImage(slot.entrant) !== ''" [ngClass]="getEntrantImageOrientation(slot.entrant)" [src]="getEntrantImage(slot.entrant)" />
                                                    <div *ngIf="getEntrantImage(slot.entrant) === ''" class="entrant-set-image-default" [ngStyle]="{'background-color': slot.entrant?.backgroundColor}">
                                                        {{slot.entrant?.participants[0].gamerTag[0].toUpperCase()}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col p-0 set-middle" id="names">
                                            <div class="row set-row" *ngFor="let slot of set.slots; let firstSlot = first" [ngClass]="[isWinner(set, slot, 'name'), getSlotHover(slot)]" [ngStyle]="{'height': getSlotHeight(firstSlot)}"
                                                (mouseenter)="onSlotEnter(slot)" (mouseleave)="onSlotLeave()">
                                                <div class="set-name" style="padding: 4px 3px 0 0; text-shadow: 1px 1px 2px black">
                                                    {{slot.entrant ? slot.entrant.name : '‎'}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col p-0 set-scores" id="scores">
                                            <div class="row set-row" *ngFor="let slot of set.slots; let firstSlot = first" [ngClass]="isWinner(set, slot, 'score')" [ngStyle]="{'height': getSlotHeight(firstSlot)}"
                                                (mouseenter)="onSlotEnter(slot)" (mouseleave)="onSlotLeave()">
                                                <div class="d-flex justify-content-center p-0" style="margin-top: 4px" [ngStyle]="{'font-size': getScoreFontSize(slot), 'font-weight': getScoreFontWeight(slot)}">
                                                    {{getScore(slot, set)}}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div *ngIf="j % 3 != 0" class="d-flex flex-column justify-content-around" style="height: 100%; width: 22px" id="block-column">
                                    <div class="row" *ngFor="let _ of [].constructor(getRoundSets(phaseGroup, (j / 3 + 2) * maxRoundModifier[side]).length * 4); let blockIndex = index; let blockCount = count" id="block-container">
                                        <div style="padding: 0 11px" [ngStyle]="{'height': getPhaseGroupSideHeight(phaseGroup, side) / blockCount + 'px'}" [ngClass]="getBlockClass(j, blockIndex, phaseGroup, side)" id="block">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr *ngIf="!lastPhaseGroup" style="margin: 50px 0" [ngStyle]="{'min-width': maxRoundsPhase * 248 + 12 + 'px', 'width': maxRoundsPhase * 248 + 12 + 'px'}">
        </div>
    </div>
</div>