.round {
    max-width: 204px;
    min-width: 204px;
    height: 100%;
}

.full-round-text {
    margin-bottom: 0;
    padding: 8px 22px;
    font-size: 16px;
    /* font-weight: bold; */
    background-color: #424242;
    border-radius: 4px;
}

.set {
    width: 204px;
    border: 1px white solid;
    border-radius: 4px;
}

.set-row:first-child {
    border-bottom: 1px solid white;
    border-top-right-radius: 4px;
}

.set-row:last-child {
    border-bottom-right-radius: 4px;
}

.set-name {
    padding: 0 0 0 4px;
    height: 20px;
    width: 182px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.winner-name {
    font-weight: bold;
}

.winner-score {
    background-color: #009900;
    font-weight: bold;
}

.loser-score {
    background-color: #636363;
}

.first-block-column-first-row {
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-top-right-radius: 4px;
}

.first-block-column-second-row {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-bottom-right-radius: 4px;
}

.straight-block {
    border-bottom: 1px solid white;
}

.no-select {
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Old versions of Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    user-select: none;
}