<div mat-dialog-title style="width: 400px">Settings</div>
<hr style="margin: 0 20px">
<mat-dialog-content style="padding: 16px 24px 32px; color: #ffffffde">
    <form [formGroup]="apiFormControl" tabindex="1">
        <mat-form-field style="width: 75%">
            <mat-label>API Token</mat-label>
            <input formControlName="token" matInput type="password">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button mat-dialog-close (click)="submit()">Save</button>
</mat-dialog-actions>