<div mat-dialog-title style="text-align: center">{{set.fullRoundText}}</div>
<hr style="margin: 0 20px">

<mat-dialog-content style="padding: 16px 24px 32px; color: #ffffffde">

    <div class="mb-4 d-flex justify-content-center">
        <div class="entrant-name" style="text-align: end; padding-right: 16px">
            {{set.slots[0].entrant?.name}}
        </div>
        <div class="entrant-image entrant-set-image">
            <img *ngIf="getEntrantImage(set.slots[0].entrant) !== ''" [ngClass]="getEntrantImageOrientation(set.slots[0].entrant)" [src]="getEntrantImage(set.slots[0].entrant)" />
            <div *ngIf="getEntrantImage(set.slots[0].entrant) === ''" class="entrant-set-image-default" [ngStyle]="{'background-color': set.slots[0].entrant?.backgroundColor}">
                {{set.slots[0].entrant?.participants[0].gamerTag[0].toUpperCase()}}
            </div>
        </div>
        <div class="entrant-score d-flex justify-content-center" style="padding-left: 10px">
            {{set.slots[0].standing?.stats.score.value}}
        </div>
        <div class="d-flex justify-content-center" style="width: 64px">
            <mat-icon style="width: 64px; height: 48px; font-size: 64px; line-height: 48px">{{getWinnerArrow()}}</mat-icon>
        </div>
        <div class="entrant-score d-flex justify-content-center" style="padding-right: 10px">
            {{set.slots[1].standing?.stats.score.value}}
        </div>
        <div class="entrant-image entrant-set-image">
            <img *ngIf="getEntrantImage(set.slots[1].entrant) !== ''" [ngClass]="getEntrantImageOrientation(set.slots[1].entrant)" [src]="getEntrantImage(set.slots[1].entrant)" />
            <div *ngIf="getEntrantImage(set.slots[1].entrant) === ''" class="entrant-set-image-default" [ngStyle]="{'background-color': set.slots[1].entrant?.backgroundColor}">
                {{set.slots[1].entrant?.participants[0].gamerTag[0].toUpperCase()}}
            </div>
        </div>

        <div class="entrant-name" style="padding-left: 16px">
            {{set.slots[1].entrant?.name}}
        </div>
    </div>

    <mat-card *ngIf="set.games">
        <mat-card-content class="mat-elevation-z3">
            <div *ngFor="let game of set.games; let i = index; let lastGame = last">

                <div style="text-align: center">
                    Game {{i + 1}}{{game.selections ? ': ' + game.stage.name : ''}}
                </div>

                <div class="d-flex justify-content-center">
                    <div *ngIf="game.selections" class="game-icon d-flex justify-content-center">
                        <img style="width: 30px; height: 30px" [src]="getCharIcon(game, 0)">
                    </div>
                    <div *ngIf="game.winnerId" class="game-result-abbr" style="padding-right: 20px" [ngStyle]="{'color': getResultColor(game, 0)}">
                        {{getResultAbbr(game, 0)}}
                    </div>
                    <div class="d-flex justify-content-center" style="width: 32px">
                        <mat-icon style="width: 32px; height: 30px; font-size: 32px">{{getWinnerArrow(game)}}</mat-icon>
                    </div>
                    <div *ngIf="game.winnerId" class="game-result-abbr" style="padding-left: 20px" [ngStyle]="{'color': getResultColor(game, 1)}">
                        {{getResultAbbr(game, 1)}}
                    </div>
                    <div *ngIf="game.selections" class="game-icon d-flex justify-content-center">
                        <img style="width: 30px; height: 30px" [src]="getCharIcon(game, 1)">
                    </div>
                </div>

                <hr *ngIf="!lastGame">

            </div>
        </mat-card-content>
    </mat-card>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>