<mat-toolbar color="primary" class="mat-elevation-z8">
    <button mat-icon-button *ngIf="windowSize < 500" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span style="margin:0 10px">BracketGG</span>

    <div *ngIf="windowSize >= 500">
        <a mat-button class="header-option" [routerLink]="'/bracket'" (click)="sidenav.close()"> Bracket </a>
        <a mat-button class="header-option" [routerLink]="'/about'" (click)="sidenav.close()"> About </a>
    </div>

    <span class="header-spacer"></span>

    <button mat-icon-button *ngIf="windowSize >= 500" style="margin-right: 10px" (click)="goToDiscord()">
        <mat-icon>discord</mat-icon>
    </button>

    <button mat-icon-button (click)="toggleDarkMode()">
        <mat-icon *ngIf="colorSchemeService.currentActive() === 'dark'">dark_mode</mat-icon>
        <mat-icon *ngIf="colorSchemeService.currentActive() === 'light'">light_mode</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav>
        <mat-nav-list style="width: 150px; padding: 0">
            <a mat-list-item class="sidenav-option" [routerLink]="'/bracket'" (click)="sidenav.close()"> Bracket </a>
            <a mat-list-item class="sidenav-option" [routerLink]="'/about'" (click)="sidenav.close()"> About </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>