.mat-toolbar.mat-primary {
    background: #f21a1a;
}

.sidenav-container {
    width: 100%;
    min-width: 100%;
    height: calc(100% - 64px);
}

@media(max-width: 598px) {
    .sidenav-container {
        height: calc(100% - 56px);
    }
}

.sidenav-div {
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header-name {
    margin-left: 10px;
    font-size: 20px;
    letter-spacing: 2px;
}

.header-name:hover {
    cursor: pointer;
}

.header-spacer {
    flex: 1 1 auto;
}

.header-option {
    font-size: 20px;
    margin-left: 10px;
}

.header-option:hover {
    cursor: pointer;
}

.settings {
    height: 40px;
}

.settings:hover {
    cursor: pointer;
    color: #d1d1d1;
}