<mat-toolbar color="primary" class="mat-elevation-z8">
    @if (windowSize < 500) { <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
        </button>
        }

        <span class="header-name" (click)="goToAboutPage()">BracketGG</span>

        <span class="header-spacer"></span>

        @if (windowSize >= 500) {
        <button mat-icon-button style="margin-right: 10px" (click)="goToDiscord()" matTooltip="Discord Server">
            <mat-icon>discord</mat-icon>
        </button>

        @if (authService.isAuthenticated()) {
        <button mat-icon-button style="margin-right: 10px" (click)="logout()" matTooltip="Logout">
            <mat-icon>logout</mat-icon>
        </button>
        } @else {
        <button mat-icon-button style="margin-right: 10px" (click)="login()" matTooltip="Login With Start.gg">
            <mat-icon>login</mat-icon>
        </button>
        }
        }

        <!-- <button mat-icon-button (click)="toggleDarkMode()">
            <mat-icon *ngIf="colorSchemeService.currentActive() === 'dark'">dark_mode</mat-icon>
            <mat-icon *ngIf="colorSchemeService.currentActive() === 'light'">light_mode</mat-icon>
        </button> -->
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #sidenav mode="side" [opened]="windowSize >= 500">
        <div class="d-flex flex-column justify-content-between sidenav-div">
            <div>
                <div style="margin-top: 20px"><app-search></app-search></div>
                <mat-nav-list style="width: 250px; padding: 0">
                    @for (event of events; track event.slug) {
                    <a mat-list-item [routerLink]="'/' + event.slug">{{event.name}}</a>
                    }
                </mat-nav-list>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>